@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98%;
    --foreground: 217 33% 17%;
    --card: 0 0% 100%;
    --card-foreground: 217 33% 17%;
    --primary: 217 33% 17%;
    --primary-foreground: 210 40% 98%;
    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 16 63% 28%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 100%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 217 33% 12%;
    --foreground: 210 40% 96%;
    --card: 217 33% 14%;
    --card-foreground: 210 40% 96%;
    --primary: 210 40% 98%;
    --primary-foreground: 217 33% 12%;
    --muted: 217 20% 20%;
    --muted-foreground: 215 20% 65%;
    --border: 217 20% 22%;
    --input: 217 20% 22%;
    --ring: 16 63% 28%;
    --destructive: 0 62% 45%;
    --destructive-foreground: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-sans text-foreground antialiased;
  }
  h1,
  h2,
  h3,
  h4 {
    @apply font-sans;
  }
}
